<!-- todo add css variables and remove inline style -->
<mat-toolbar>
  <div>
    <div class="navbar">
      <div fxLayout="row inline">
        <button
          mat-icon-button
          (click)="toggle()"
          [ngStyle.lt-md]="{ height: '100%' }"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <mat-icon class="menu-logo">menu</mat-icon>
        </button>
        <img class="logo" src="./assets/images/upkey-logo.png" />
      </div>
    </div>
  </div>
</mat-toolbar>
