.header {
  padding: 10px 20px;
  margin-bottom: 0;
}
.friend-item {
  min-width: 270px;
  margin: 0 20px;
  padding: 15px 0;
  cursor: pointer;
  border-bottom: 2px dashed #eee;
  h3 {
    margin: 0 0 0 10px;
    font-weight: 500;
    color: #444;
  }
  mat-icon {
    font-size: 35px;
    height: 35px;
    width: 35px;
  }
}

.friend-item:hover,
.selected {
  mat-icon {
    margin-left: 10px;
    transition: margin-left 1s;
  }
  transition: background-color ease-in;
  border-left: 4px solid #36e3ffcf;
  background-color: #f2fdff;
}
